# ==============================================================================
# RentCar Environment Configuration Example
# Salin file ini menjadi .env atau .env.local untuk mengubah konfigurasi default
# cp .env.example .env
# ==============================================================================

# Port aplikasi (Default: 3000)
PORT=3000

# Mode aplikasi: development | production
NODE_ENV=production

# Nama aplikasi / process name PM2
APP_NAME=rentcar

# Base URL publik aplikasi (sesuaikan dengan domain / IP server Anda)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Repository GitHub untuk Background Update Checker Watermark
GITHUB_REPOSITORY=armansyam/rentcar

# Developer Watermark AMS (Set ke 'false' jika ingin menghilangkan watermark di pojok kanan bawah)
NEXT_PUBLIC_SHOW_WATERMARK=true

